.main-div-about {

    /* max-width: 100%; */
    margin:50px 100px 50px 100px;
    place-items: center;
    /* text-align: center;
    justify-content: center; */
    color:white;
}

.about-container {
    width: 1126px;
}

.title-about {
    font-size: 30px;
    /* font-weight: bold; */
}