.main-div-home-page {
    justify-content: center;
    text-align: center;
    display: flex;
}

.home-page-container {
    width: 1126px;
    max-width: 100%;

}

.silly-sketch-div {
    /* display: inline; */
    margin:0px;
    padding:0px;
    justify-content: left;
}