.character-card-div{
    /* width:100%; */
    height: 170px;
    /* background-color: black; */
    overflow:hidden;
    align-items: left;
    padding:30px;
    /* margin-top:20px; */
    /* border:2px solid grey; */
    

}

.flex-container-character-card {
    display: flex;
    /* margin-bottom: 200px; */
    
}

.image-container-character-card {
    width: 170px;
    height:170px;
    
    /* background-color: red; */
    
}

.image-fit-character-card {
    /* width:150px; */
    width: 170px;
    height:170px;
    /* height: auto; */
    /* object-fit: fill; */
    border:4px solid rgb(50, 50, 50);
    object-fit: cover;
    /* display: flex; */
    /* float:left; */

}

.attribute-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-left:20px
}

.attribute {
    text-align: left;
    padding: 5px;
    /* display: flex; */
}


/* .clear {clear: both;} */